#settings-container-2 {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.top-nav-collapse {
  background-color: #24355C;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

.btn-primary {
color: #fff;
background-color: #979904 !important;
}
.btn-outline-white {
color: #979904 !important;
border: 2px solid #979904 !important;
}
.btn-outline-white:hover {
background-color: #979904 !important;
color: #fff !important;
border: 2px  solid #fff !important;
}

.nav-link {
color: #fff;
font-size: 18px;
-webkit-transition: .35s;
transition: .35s;
border-bottom: 3px solid transparent;
}


.nav-link:hover {
border-bottom: 3px solid #2F91DC;
color: #979904 !important;
}

.btn-light-green {
  border-radius: 15px;
  font-weight: bold;
}
.btn-light-green:hover {
  background-color: #24355C !important;
}
