#contenedor-signup {
  background-color: rgb(249,249,249);
}

.btn-amber {
  font-weight: bold;
  border-radius: 15px;
}

.btn-amber:hover {
  background-color: #8BC34A !important;
}
#avatar {

  bottom: -10px;
  z-index: 2;
  position: relative;
}
