.top-nav-collapse {
  background-color: #24355C;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

.btn-primary {
color: #fff;
background-color: #979904 !important;
}
.btn-outline-white {
color: #979904 !important;
border: 2px solid #979904 !important;
}
.btn-outline-white:hover {
background-color: #979904 !important;
color: #fff !important;
border: 2px  solid #fff !important;
}

.nav-link {
color: #fff;
font-size: 18px;
-webkit-transition: .35s;
transition: .35s;
border-bottom: 3px solid transparent;
}


.nav-link:hover {
border-bottom: 3px solid #2F91DC;
color: #979904 !important;
}
