<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

  <div class="container animated zoomIn">

      <!-- Navbar brand -->
      <a class="navbar-brand" routerLink="/"><span><img src="../../assets/img/cohete.png" alt=""></span></a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul id="enlaces-info" class="navbar-nav mr-auto ml-auto smooth-scroll">
              <li class="nav-item">
                  <a class="nav-link" href="#intro">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#best-features">Productos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#examples">Herramientas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#gallery">Recursos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#contact">Contactanos</a>
              </li>
          </ul>
          <!-- Links -->

          <!-- Social Icon  -->
          <ul id="enlaces-usuario" class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span><img src="../../assets/img/usuario.png" alt=""></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-default"
                aria-labelledby="navbarDropdownMenuLink-333">
                <a class="dropdown-item text-center" routerLink="/login-user">Iniciar Sesion</a><hr>
                <a class="dropdown-item text-center" routerLink="/sign-up">Crear Cuenta</a><hr>
                <a class="dropdown-item text-center" href="#">Cerrar Sesion</a>
              </div>
            </li>
          </ul>
      </div>
      <!-- Collapsible content -->

  </div>

</nav>
