<nav id="settings-container"class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" style="background-color: #24355C;">
  <div class="container">
      <a class="navbar-brand" routerLink="/"><span class="font-weight-bolder text-white"><img src="../../assets/img/cerrar-sesion.png" alt="Logo Casita"> Regresar a la Plataforma</span></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul id="enlaces-usuario" class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span><img src="../../assets/img/usuario.png" alt="user" width="40"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default"
              aria-labelledby="navbarDropdownMenuLink-333">
              <a class="dropdown-item text-center" routerLink="/login-user"><img src="../../assets/img/iniciar-sesion.png" alt=""> Iniciar Sesion</a><hr>
              <a class="dropdown-item text-center" routerLink="/sign-up"><img src="../../assets/img/anadir.png" alt=""> Crear Cuenta</a><hr>
            </div>
          </li>
        </ul>
      </div>
  </div>
</nav>
<div id="login-component" class="container-fluid" style="height: 100vh; padding-top: 100px;">
  <div class="row">
    <div class="col-lg-4 col-sm-12 mx-auto text-center items-center">
      <img src="../../assets/img/correo-electronico.png" id="avatar" class="animated bounceInLeft" >
      <div class="card animated zoomIn">
        <div class="card-header bg-dark">
          <h4 class="text-center font-weight-bolder" style="color:#FFA000;">
            Digite Sus Credenciales
          </h4>
        </div>
        <div class="card-body">
          <form [formGroup]="userCredentials">
            <div class="md-form">
              <input
                [ngClass]="{'input-error': correoPersona.invalid && (correoPersona.dirty || correoPersona.touched)}"
                formControlName="correoPersona"
                type="email"
                name="correoPersona"
                id="form1"
                class="form-control input-error">
                <input type="hidden" name="cosa" value="1">
              <label for="form1">Digite su Correo</label>
            </div>
            <div *ngIf="correoPersona.invalid && (correoPersona.dirty || correoPersona.touched)" class="alert alert-danger alert-dismissible fade show" role="alert">
              <span *ngIf="correoPersona.errors.required"><strong>Error, el campo es obligatorio</strong></span>
              <span *ngIf="correoPersona.errors.pattern"><strong>Correo No Valido</strong></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="md-form">
              <input
                [ngClass]="{'input-error': passwordPersona.invalid && (passwordPersona.dirty || passwordPersona.touched)}"
                formControlName="passwordPersona"
                type="password"
                name="passwordPersona"
                id="passwordPersona"
                class="form-control input-error">
                <input type="hidden" name="cosa" value="1">
              <label for="form1">Digite su Clave</label>
            </div>
            <div *ngIf="passwordPersona.invalid && (passwordPersona.dirty || passwordPersona.touched)" class="alert alert-danger alert-dismissible fade show" role="alert">
              <span *ngIf="passwordPersona.errors.required"><strong>Error, el campo es obligatorio</strong></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="form-group">
              <button type="button" [disabled]="!userCredentials.valid" class="btn btn-amber btn-lg btn-block" (click)="logueoUsuario()">Verificar Clave</button>
            </div>
          </form>
        </div>
        <div class="card-footer" style="background-color:#24355C;">
          <div *ngIf="disparadorMensajeServer" class="alert alert-warning alert-dismissible fade show" role="alert">
            <span><strong>Error </strong>, {{ mensajeDesdeServer }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
