<div id="login-component" class="container-fluid" style="height: 100vh; padding-top: 100px;">
  <div class="row">
    <div class="col-lg-4 col-sm-12 mx-auto text-center items-center">
      <img src="../../assets/img/correo-electronico.png" id="avatar" class="animated bounceInLeft" >
      <div class="card animated flipInY">
        <div class="card-header bg-dark text-white">
          <h3 class="text-center font-weight-bolder">
            Digite Su Correo Clave de Ingreso al Sistema
          </h3>
        </div>
        <div class="card-body">
          <form>
            <div class="md-form">
              <input type="password" id="form1" class="form-control">
              <label for="form1">Digite su Clave</label>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-amber btn-lg btn-block">Iniciar Sesion</button>
            </div>
          </form>
        </div>
        <div class="card-footer bg-dark">

        </div>
      </div>
    </div>
  </div>
</div>
