#login-component {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#avatar {
  width: 128px;
  bottom: -18px;
  z-index: 2;
  position: relative;
}

.btn-amber {
  border-radius: 12px;
}
.btn-amber:hover {
  color: #fff;
  background-color: #24355C !important;
  border-radius: 12px;
}
