<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-5">

  <div class="container">
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <img src="../../assets/img/facebook.svg" alt="" width="45">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <img src="../../assets/img/instagram.svg" alt="" width="45">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <img src="../../assets/img/twitter.svg" alt="" width="45">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <img src="../../assets/img/youtube.svg" alt="" width="45">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <img src="../../assets/img/github.svg" alt="" width="45">
        </a>
      </li>
    </ul>

  </div>

  <div class="footer-copyright text-center py-3">© 2020 UNAH-CU:
    <a href="https://mdbootstrap.com/"> Facultad de Ingenieria en Sistemas -> Sistemas Expertos</a>
  </div>


</footer>

