<nav id="settings-container"class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" style="background-color: #24355C;">
  <div class="container">
      <a class="navbar-brand" routerLink="/panel-principal"><span class="font-weight-bolder"><img src="../../assets/img/cerrar-sesion.png" alt="Logo Casita"> Regresar Al Panel Principal</span></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="basicExampleNav">
          <ul id="enlaces-usuario" class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span>Bienvenido <img src="../../assets/img/usuario.png" width="35"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-default"
                aria-labelledby="navbarDropdownMenuLink-333">
                <a class="dropdown-item text-center" routerLink="/settings-user"><img src="../../assets/img/equipo (1).png" alt="Logo equipo"> Configuraciones</a><hr>
                <a class="dropdown-item text-center" href="#"><img src="../../assets/img/cerrar-sesion.png" alt="logo cierre sesion"> Cerrar Sesion</a>
              </div>
            </li>
          </ul>
      </div>
  </div>
</nav>
<div id="admin-component" class="container-fluid">
  <div class="row" style="padding-top: 100px;">
    <div class="col-lg-12 col-sm-12">
      <div class="container">
        <div class="row">
          <div class="card">
            <div class="card-header bg-dark text-center" style="color:#FFA000;">
              <h3>Zona Configuraciones de Administrador</h3>
            </div>
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4 col-sm-12 mb-4 animated fadeInDown">
                      <div class="card" style="background-color: #FFA000;">
                        <div class="view text-center mx-auto">
                          <img src="../../assets/img/equipos.png" class="img-fluid" width="180" alt="photo">
                          <a href="#">
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                        <div class="card-body text-center">
                          <!--Title-->
                          <h4 class="card-title white-text">Ingresa Usuarios Nuevos</h4>
                          <!--Text-->
                          <p class="card-text white-text">
                            En esta zona podras crear nuevos usuarios participes en tu proyecto con sus roles correspondientes.
                          </p>
                          <a routerLink="/change-email" class="btn btn-light-green btn-lg waves-effect">Insertar Usuario</a>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-12 mb-4 animated fadeInDown">
                    <div class="card" style="background-color: #FFA000;">
                      <div class="view text-center mx-auto">
                        <img src="../../assets/img/ajustes.png" class="img-fluid" width="180" alt="photo">
                        <a href="#">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                      <div class="card-body text-center">
                        <!--Title-->
                        <h4 class="card-title white-text">Asignar Privilegios Usuario</h4>
                        <!--Text-->
                        <p class="card-text white-text">
                          En esta zona podras asignar privilegios como solo ver la pagina web o bien
                          trabajar en ella los usuarios involucrados en tu proyecto.
                        </p>
                        <a routerLink="/change-password" class="btn btn-light-green btn-lg waves-effect">Asignar Privilegios</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 mb-4 animated fadeInDown">
                    <div class="card" style="background-color: #FFA000;">
                      <div class="view text-center mx-auto">
                        <img src="../../assets/img/estado-user.png" class="img-fluid" width="180" alt="photo">
                        <a href="#">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                      <div class="card-body text-center">
                        <h4 class="card-title white-text">Cambiar estatus de Usuario</h4>
                        <p class="card-text white-text">
                          Supender, inactivar o volver a dar de alta a un usuario en un proyecto.
                        </p>
                        <a routerLink="/change-photography" class="btn btn-light-green btn-lg waves-effect">Realizar Cambio Clave</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer" style="background-color: #FFA000;">
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

